@import "../global/variables.scss";

.checkbox__mark {
  position: absolute;
  margin-top: -11px;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background-color: $color-page-background;
  transition: 100ms all ease;

  &:hover {
    background-color: $color-separator-light;
  }

  &:active {
    background-color: $color-mark-active;
  }
}

.checkbox__input:disabled + .checkbox__mark {
  opacity: 0.2;

  &:hover {
    background-color: $color-page-background;
  }
}

.checkbox__input:checked + .checkbox__mark::before {
  position: absolute;
  width: 22px;
  height: 16px;
  top: 14px;
  left: 12px;
  background-image: url("../../img/tick-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.checkbox__text {
  padding-left: 62px;
  display: block;
}
