.developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 0;
}

.developed-by__link {
  @include basic-font;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-black;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-grey-active;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

.developed-by__icon {
  margin-left: 13px;
}
