@import "../global/mixins.scss";
@import "../global/variables.scss";

.developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 22px;
}

.developed-by__link {
  @include basic-font;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-black;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-grey-active;
  }
}

.developed-by__icon {
  margin-left: 12px;
}
