.feedback__article {
  text-align: center;
  border-bottom: solid 1px $color-separator-light;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.feedback__article-title {
  @include heading-font;
  margin: 0;
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
  }
}

.feedback__article-text {
  @include basic-font;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 28px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    width: 435px;
    margin: 0 auto;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.feedback__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.feedback__radio-list {
  display: flex;
  gap: 36px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 575px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 7px;
    padding-right: 27px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 869px;
    margin-left: 153px;
    padding-top: 25px;
    padding-right: 0;
  }
}

.feedback__checkbox-list {
  display: flex;
  gap: 36px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: space-around;
    width: 510px;
    margin: 0 auto;
    margin-left: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 910px;
    margin-left: 123px;
    gap: 18px;
  }
}

.feedback__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  border: none;

  &--name {
    padding-bottom: 40px;
    gap: 16px;
    border-bottom: solid 1px $color-separator-light;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      padding-left: 20px;
    }
  }

  &--contacts {
    position: relative;
    padding-bottom: 16px;
    border-bottom: solid 1px $color-separator-light;

    @media (min-width: $tablet-width) {
      border-bottom: none;
      padding-right: 50px;

      &::before {
        position: absolute;
        bottom: 26px;
        left: -16px;
        height: 338px;
        width: 1px;
        background-color: $color-separator-grey;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      padding-right: 66px;

      &::before {
        position: absolute;
        bottom: 34px;
        left: -76px;
        height: 338px;
        width: 1px;
        background-color: $color-separator-grey;
        content: "";
      }
    }
  }

  &--impression,
  &--sight {
    position: relative;
    border-bottom: solid 1px $color-separator-light;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--impression {
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        top: -46px;
        left: 60px;
        height: 1px;
        width: 123px;
        background-color: $color-separator-grey;
        content: "";
      }

      &::after {
        position: absolute;
        top: -46px;
        left: 585px;
        height: 1px;
        width: 123px;
        background-color: $color-separator-grey;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        position: absolute;
        top: -45px;
        left: 120px;
        height: 1px;
        width: 280px;
        background-color: $color-separator-grey;
        content: "";
      }

      &::after {
        position: absolute;
        top: -45px;
        left: 800px;
        height: 1px;
        width: 280px;
        background-color: $color-separator-grey;
        content: "";
      }
    }
  }

  &--sight {
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        top: -67px;
        left: 60px;
        height: 1px;
        width: 123px;
        background-color: $color-separator-grey;
        content: "";
      }

      &::after {
        position: absolute;
        top: -67px;
        left: 585px;
        height: 1px;
        width: 123px;
        background-color: $color-separator-grey;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        position: absolute;
        top: -98px;
        left: 120px;
        height: 1px;
        width: 280px;
        background-color: $color-separator-grey;
        content: "";
      }

      &::after {
        position: absolute;
        top: -98px;
        left: 800px;
        height: 1px;
        width: 280px;
        background-color: $color-separator-grey;
        content: "";
      }
    }
  }

  &--emotions {
    position: relative;

    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        top: -41px;
        left: 60px;
        height: 1px;
        width: 123px;
        background-color: $color-separator-grey;
        content: "";
      }

      &::after {
        position: absolute;
        top: -41px;
        left: 585px;
        height: 1px;
        width: 123px;
        background-color: $color-separator-grey;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        position: absolute;
        top: -41px;
        left: 120px;
        height: 1px;
        width: 280px;
        background-color: $color-separator-grey;
        content: "";
      }

      &::after {
        position: absolute;
        top: -41px;
        left: 800px;
        height: 1px;
        width: 280px;
        background-color: $color-separator-grey;
        content: "";
      }
    }
  }

  &--submit {
    display: flex;
    gap: 0;
    padding-top: 52px;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 44px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 216px;
      padding-right: 216px;
    }
  }
}

.feedback__legend {
  @include heading-font;
  margin: 0 auto;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;

  &--impression {
    padding-bottom: 30px;
  }

  &--sight {
    padding-top: 27px;
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--name {
      margin-left: 28px;
      padding-bottom: 28px;
      width: 294px;
    }

    &--contacts {
      padding-bottom: 28px;
      padding-right: 8px;
    }

    &--sight {
      width: 308px;
      padding-bottom: 39px;
    }

    &--emotions {
      padding-top: 19px;
      padding-bottom: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    &--name {
      margin-left: 49px;
      width: 427px;
    }

    &--contacts {
      padding-right: 78px;
      margin-left: 28px;
    }

    &--impression {
      padding-top: 31px;
    }

    &--sight {
      padding-top: 51px;
      padding-bottom: 70px;
    }

    &--emotions {
      padding-top: 65px;
    }
  }
}


.feedback__field {
  &--name {
    @include basic-font;
    display: flex;
    flex-direction: column;
    color: $color-text;
    padding-left: 18px;

    @media (min-width: $tablet-width) {
      margin-left: 26px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 45px;
    }
  }

  &--contacts {
    @include basic-font;
    display: flex;
    position: relative;
    flex-direction: column;
    color: $color-text;
    padding-left: 16px;

    @media (min-width: $tablet-width) {
      margin-left: 0;
      padding-left: 8px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -36px;
    }
  }

  &--contacts-mail {
    padding-top: 16px;
    padding-bottom: 18px;
  }

  &--impression,
  &--sight {
    @include heading-font;
    text-transform: none;
    padding: 0;
  }

  &--impression {
    @media (min-width: $tablet-width) {
      width: 46%;
    }

    @media (min-width: $desktop-width) {
      width: 29%;
    }
  }

  &--sight {
    @media (min-width: $tablet-width) {
      width: 39%;
    }

    @media (min-width: $desktop-width) {
      width: 22%;
    }
  }

  @media (min-width: $tablet-width) {
    &--sight-bridge {
      padding-left: 17px;
    }

    &--sight-kolokol {
      padding-left: 0px;
    }

    &--sight-slidepark {
      padding-left: 17px;
    }

    &--sight-rocks {
      padding-left: 0px;
    }
  }

  @media (min-width: $desktop-width) {
    &--sight-bridge {
      padding-left: 15px;
    }

    &--sight-kolokol {
      padding-left: 19px;
      padding-right: 4px;
    }

    &--sight-slidepark {
      padding-left: 21px;
    }

    &--sight-rocks {
      padding-left: 6px;
    }
  }
}

.feedback__input {
  transition: 100ms all ease;

  &--name {
    @include heading-font;
    display: block;
    text-transform: none;
    background-color: $color-page-background;
    border: none;
    margin: 0;
    padding: 16px;
    margin-left: -16px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }

  &--contacts {
    @include heading-font;
    display: block;
    text-transform: none;
    background-color: $color-page-background;
    border: none;
    margin: 0 0 0 -16px;
    padding: 16px;
    padding-right: 0;
    border-right: 58px solid $color-grey;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }

  &:hover {
    background-color: $color-separator-light;
  }

  &:focus {
    background-color: $color-white;
    box-shadow: inset 0 0 0 4px $color-separator-light;
    outline: none;
  }

  &:active {
    background-color: $color-white;
    box-shadow: inset 0 0 0 4px $color-separator-light;
  }
}

.feedback__submit-button {
  @include heading-big-font;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 16px 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 101px;
  }
}

.feedback__note {
  @include basic-font;
  font-size: 12px;
  text-align: right;
  padding-top: 2px;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding-top: 6px;
  }
}

.feedback__phone-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 22px;
  bottom: 21px;

  @media (min-width: $tablet-width) {
    right: 19px;
    bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 21px;
    bottom: 21px;
  }
}

.feedback__mail-icon {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 22px;
  bottom: 40px;

  @media (min-width: $tablet-width) {
    right: 19px;
    bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    right: 22px;
    bottom: 40px;
  }
}
