.main-nav {
  display: block;
  right: auto;
  min-height: 56px;
  z-index: 4;
}

.main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}


.main-nav--closed {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-nav--opened {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  top: 17px;
  right: 20px;
  width: 22px;
  height: 24px;
  border: none;
  background-image: url("../../img/menu-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  transition: 100ms all ease;
  cursor: pointer;
  z-index: -1;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    visibility: hidden;
  }
}

.main-nav__close-toggle {
  position: absolute;
  padding: 0;
  top: 15px;
  left: 278px;
  width: 23px;
  height: 23px;
  border: none;
  background-image: url("../../img/icon-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  font-family: $font;
  background-color: $color-accent;
  mix-blend-mode: normal;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.main-nav__item {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 55px;
  justify-content: center;
  flex-direction: column;
  background-color: $color-accent;
  transition: 100ms all ease;

  &:hover {
    background-color: $color-eccent-hover;
  }

  &:active {
    background-color: $color-eccent-active;
  }

  @media (max-width: 767px) {
    &--empty {
      display: none;
    }

    &:last-child {
      position: relative;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 7px;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 153px;
    background-color: $color-white;

    &:hover,
    &:active {
      background-color: $color-white;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 240px;
  }

  &--catalog {
    margin-top: 1px;
    border-top: solid 1px #8fc2de;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.2);

    @media (min-width: $tablet-width) {
      margin-right: 153px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 240px;
    }
  }

  &--index {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  &--form {
    margin-top: 1px;
    border-top: solid 1px #8fc2de;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  &--academy {
    margin-top: 1px;
    border-top: solid 1px #8fc2de;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  &--index,
  &--catalog,
  &--form,
  &--academy {
    @media (min-width: $tablet-width) {
      border-top: none;
      box-shadow: none;
    }
  }
}

.main-nav__link {
  @include heading-font;
  text-decoration: none;
  color: $color-white;
  text-align: center;
  transition: 100ms all ease;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include basic-font;
    display: block;
    width: 153px;
    font-weight: 700;
    color: $color-black;

    &:hover {
      color: $color-accent;
    }

    &:active {
      opacity: 0.3;
    }

    &--current {
      color: $color-current;
    }
  }

  @media (min-width: $desktop-width) {
    width: 240px;
  }
}
