.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-header__logo {
  position: absolute;
  width: 185px;
  z-index: 4;

  @media (min-width: $tablet-width) {
    z-index: 6;
  }
}
