@import "../global/mixins.scss";
@import "../global/variables.scss";

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container--close {
  display: none;
}
