@import "../global/mixins.scss";
@import "../global/variables.scss";

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  max-width: 320px;
  min-height: 280px;
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-color: $color-white;
}

.modal__header {
  @include heading-font;
  text-align: center;
  margin: 0;
  padding-top: 45px;

  &--success {
    padding-top: 40px;
  }
}

.modal__text {
  @include basic-font;
  text-align: center;
  color: $color-text;
  width: 237px;
  margin: 0 auto;
  padding-top: 30px;
}

.modal__button {
  @include heading-font;
  text-align: center;
  padding: 18px 63px;
  margin: 30px 70px 35px;

  &--success {
    margin: 20px 20px;
    padding: 18px 61px;
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  background-color: $color-page-background;
  margin-top: 55px;
}
