.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  max-width: 320px;
  min-height: 280px;
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.modal__header {
  @include heading-font;
  text-align: center;
  margin: 0;
  padding-top: 45px;

  &--success {
    padding-top: 40px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding-top: 48px;
    width: 211px;
    margin: 0 auto;

    &--success {
      padding-top: 44px;
      width: 444px;
    }
  }
}

.modal__text {
  @include basic-font;
  text-align: center;
  color: $color-text;
  width: 237px;
  margin: 0 auto;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    width: 307px;

    &--success {
      width: 444px;
    }
  }
}

.modal__button {
  @include heading-font;
  text-align: center;
  padding: 18px 78px 14px;
  margin: 28px 70px 35px;

  &--success {
    margin: 20px 20px;
    padding: 18px 76px 14px;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 124px 14px;
    margin: 47px 64px 49px;

    &--success {
      @include heading-big-font;
      margin: 44px 91px;
      padding: 18px 155px 14px;
    }
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  background-color: $color-page-background;
  margin-top: 55px;

  &--success {
    margin-top: 50px;
  }

  @media (min-width: $tablet-width) {
    &--success {
      @include heading-big-font;
      margin-top: 52px;
    }
  }
}
