.page-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 120px 0 120px;
  }
}

.page-footer__contact {
  @include heading-big-font;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-top: 42px;
  color: $color-black;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-grey-active;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.page-footer__developed-by {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}
