.radio-button__mark {
  position: absolute;
  margin-top: -11px;
  width: 46px;
  height: 46px;
  border: none;
  background-color: $color-page-background;
  border-radius: 50%;
  transition: 100ms all ease;
  cursor: pointer;

  &:hover {
    background-color: $color-separator-light;
  }

  &:active {
    background-color: $color-mark-active;
  }
}

.radio-button__input:disabled + .radio-button__mark {
  opacity: 0.2;

  &:hover {
    background-color: $color-page-background;
  }
}

.radio-button__input:checked + .radio-button__mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-text;
  content: "";
}

.radio-button__text {
  padding-left: 62px;
  display: block;
}

.radio-button:focus-within {
  outline: auto;
  outline-offset: 12px;
}
