@import "../global/mixins.scss";
@import "../global/variables.scss";


.sublist {
  background-color: $color-white;
  color: $color-black;
  padding-top: 10px;
  padding-bottom: 46px;
  padding-right: 18px;
}


.sublist__item {
  &--gifts {
    padding-left: 4px;
    margin-top: -21px;
  }

  &--food {
    margin-top: -17px;
    padding: 25px 0;
  }
}

.sublist__item-title {
  @include heading-font;
  display: flex;
  align-items: flex-end;
  margin-left: 18px;

  &--accomodation {
    gap: 9px;
    margin-top: 11px;
    margin-bottom: 15px;

    &::before {
      content: url("../../img/home-icon.svg");
      width: 39px;
      height: 37px;
    }
  }

  &--food {
    gap: 8px;
    margin-bottom: 14px;

    &::before {
      content: url("../../img/food-icon.svg");
      width: 40px;
      height: 35px;
    }
  }

  &--gifts {
    gap: 11px;
    margin-bottom: 15px;

    &::before {
      content: url("../../img/gift-icon.svg");
      width: 32px;
      height: 38px;
    }
  }
}

.sublist__item-description {
  @include basic-font;
  padding-left: 65px;
  color: $color-text;
}
