.textarea {
  margin: 0 auto;
}

.textarea__input {
  @include heading-font;
  border: none;
  outline: none;
  text-transform: none;
  resize: none;
  background-color: $color-page-background;
  padding: 16px;
  min-width: 279px;
  min-height: 150px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    min-width: 648px;
    min-height: 160px;
  }

  @media (min-width: $desktop-width) {
    min-width: 768px;
    min-height: 160px;
  }
}
