*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}

picture {
  line-height: 0;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: $color-white;
}


.list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.br {
  &--mobile {
    display: block;

    @media (min-width: 767px) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
