//font
$font: "PT Sans", "Arial", sans-serif;
$weight-basic: 400;
$weight-bold: 700;

// Palette
$color-black: #000000;
$color-white: #ffffff;
$color-text: #333333;
$color-accent: #81b3d2;
$color-secondary: #eeeeee;
$color-separator-dark: #d6d6d6;
$color-separator-light: #e5e5e5;
$color-separator-grey: #dbdbdb;
$color-page-background: #f2f2f2;
$color-grey: #e6e6e6;
$color-grey-active: #b3b3b3;
$color-current: #766357;
$color-eccent-hover: #669ec0;
$color-eccent-active: #5496bd;
$color-mark-active: #d5d5d5;
